// @font-logo{
//     font-family: Nunito;
//     src: local("Nunito"),
//     url('../fonts/Nunito.ttf');
// }


// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
// https://fonts-online.ru/fonts/nunito

// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800;900&display=swap');

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Nunito";
    // адрес шрифта и тип 
    src: url('/src/static/fonts/Nunito/Nunito-Bold.ttf') format("truetype"); 
    // font-style: normal; 
    font-weight: 800; 
  } 