.right-side{
    background: url("/src/static/images/rightImage.jpg") center no-repeat;
    background-size: cover;
    float:right;
    // width: 50vw;
    width: 701.663px;
    height: 779.625px;
    // border: 1px solid #877544;
}
.left-side{
    float: left;
    width: 49vw;
}

header{
    text-align: center;
    padding-top: 46px;
}
h1{
    color: $color_black-text-title;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 23px;
}
.account{
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17.325px;
    align-self: stretch;
    // border: 1px solid #877980;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}
.blue-link{
    color: $color_blue-link;
    font-weight: 600;
}
.header-logo{
    padding-bottom: 116px;
    font-family: "Nunito";
    font-size: 11px;
}

.account__input{
    width: -webkit-fill-available;
    height: 34px;
    border-radius: 8px;
    border: 0.7px solid $color_border-input;
    padding-left: 8px;
    // background: url("/src/static/icons/eye.svg") right no-repeat;
}
.account__text-agree{
    text-align: center;
    color: $color_gray-text;
    font-size: 12px;
    line-height: 17px;
}

.account__button{
    background-color: $color_black-btn;
    width: -webkit-fill-available;
    height: 34px;
    border-radius: 8px;
    color: $color_white;
    border: none;
}
.account__contacts{
    display: flex;
}
.account__contacts__email, .account__contacts__phone {
    justify-content: center;
    align-items: center;
    width: 144px;
    display: flex;
    padding-bottom: 10px;
    font-family: "Open Sans";
}

.account__contacts__email{
    border-bottom: 2px solid #141415;
}

.account__contacts__phone{
    border-bottom: 2px solid $color_border-input;
    color: $color_gray-text;
}

.account__text-agree, .account__input, .account__button{
    font-family: "Open Sans";
}

footer{
    font-family: "Open Sans";
    color: $color_gray-text;
    text-align: center;
    padding-top: 85px;  
    font-size: 12px; 
}