.right-side{
    background: url("/src/static/images/rightImage.jpg") no-repeat;
    float:right;
    width: 50vw;
    height: 100vh;
    background-size: contain;
}

.left-side{
    float: left;
    width: 50vw;
}

header{
    text-align: center;
    padding-top: 46px;
}

h1{
    color: $color_black-text-title;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 23px;
}

.account{
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17.325px;
    align-self: stretch;
    // border: 1px solid #877980;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.blue-link{
    color: $color_blue-link;
    font-weight: 600;
}

.header-logo{
    padding-bottom: 200px;
    font-family: "Nunito";
    font-size: 11px;
}

.account__input{
    width: 96%;
    height: 34px;
    border-radius: 8px;
    border: 0.7px solid $color_border-input;
    padding-left: 8px;
}

.account__text-agree{
    text-align: center;
    color: $color_gray-text;
    font-size: 12px;
    line-height: 17px;
}

.account__email{
    width: 100%;
}
.account__pass{
    width: 100%;
    position: relative;
}
.account__pass_confirm{
    width: 100%;
    position: relative;
    margin-top: 37px;
}

.account__pass .account__input{
    position: absolute;
}
.account__pass .account__pass__icon-eye{
    position: absolute;
    top: 11px;
    right: 8px;
    width: 14px;
    height: 14px;
}
.account__pass__icon-eye-conf{
    position: absolute;
    top: 11px;
    right: 8px;
    width: 14px;
    height: 14px;
}

.account__button{
    background-color: $color_black-btn;
    width: inherit;
    height: 34px;
    border-radius: 8px;
    color: $color_white;
    border: none;
}
.account__contacts{
    display: flex;
}
.account__contacts__email, .account__contacts__phone {
    justify-content: center;
    align-items: center;
    width: 144px;
    display: flex;
    padding-bottom: 10px;
    font-family: "Open Sans";
}

.account__contacts__email{
    border-bottom: 2px solid #141415;
}

.account__contacts__phone{
    border-bottom: 2px solid $color_border-input;
    color: $color_gray-text;
}

.account__text-agree, .account__input, .account__button{
    font-family: "Open Sans";
}

footer{
    font-family: "Open Sans";
    color: $color_gray-text;
    text-align: center;
    margin-bottom: 42px;
    font-size: 12px; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    // height: 80px;
}